body{
background-image: url(http://www.otakuusamagazine.com/uploads/public/fgolaunchannouncement.jpg);
background-repeat: no-repeat;
    background-attachment: fixed;
}

.display-4{
	text-align: center;
	background-color: rgba(172,214,255, 0.4);
}
