body {
   background-image:url("https://vignette.wikia.nocookie.net/typemoon/images/4/42/Fate-Grand-Order-Arcade_2017_07-29-17_001.jpg/revision/latest?cb=20171207154014");
   background-repeat: no-repeat;
    background-attachment: fixed;
}
.title-center{
	text-align: center;
	color: white;
}

.row{
	background-color: rgba(172,214,255, 0.4);
	text-align: center;
}

.list-group{
	 background-image:url("https://vignette.wikia.nocookie.net/typemoon/images/4/42/Fate-Grand-Order-Arcade_2017_07-29-17_001.jpg/revision/latest?cb=20171207154014");
}
.title-middle{
	text-align: center;
	margin-left:500px; 
}
.btn{
	margin-left: 25px;
	margin-right:30px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.lead{
	margin-right: 200px;
}

.word1{
	position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto;
}

.word2{
	position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto;
}
.navbar-brand{
	font-weight: bolder;
}
.fap{
	margin-top: 15px;
}